/*RESET*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
text-decoration: none;
color: currentColor;
}

ul, ol, menu{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}
/*LAYOUT*/

.row{
    display: flex;
    flex-wrap: wrap;
}
.container-hd, .container-ft{
    padding: 10px;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}

.row-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row-header .choose-type, .header-menu{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.col-4{
    width: calc(4* 100% / 12);
}

.col-2{
    width: calc(6* 100% / 12);
}

.card{
    position: relative;
}

.card .img-badge{
    position: absolute;
    left: 10px;
    bottom: 100px;
}

.card .save{
    position: absolute;
    top: 20px;
    right: 10px;
}


/*STYLE*/

.page-header{
    background-color: rgb(255, 119, 0); 
    position:fixed;
    width: 100%;
    z-index: 999;
}
.page-main{
    padding-top:100px;
}

.page-header .container{
    color: white;
}

.page-header .header-logo{
    width: 200px;
}

.col-4 .card{
    padding: 10px;
}

.card .clothing-brand, .price-discount{
    color: grey;
}
.card .price-discount{
    text-decoration: line-through;
}

.card .red, .green{
    
    color: white;
    font-size: 12px;
    padding: 4px;
}
.card .red{
    background-color: red;
}
.card .green{
    background-color: green;
    color: white;
}
.card .price{
    color: red;
}

.card .save{
    background-color: white;
    padding: 5px 8px;
    font-size: 20px;
    line-height: 20px;
}

.card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 10px;
}
.card:hover .overlay{
    opacity: 1;
}
.page-footer{
    background-color: black;
    color: white;
}
.row-footer{
    justify-content: space-between;
}
h4, li{
    display: inline-block;
}


.footer-info, .footer-social{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 12px;
}
.row-footer{
    position: relative;
}
.col-social{
    position: absolute;
    right: 0px;
}